.tippy-box[data-theme~='menu'] {
  background-color: var(--menu-background-color);
  color: var(--menu-text-color);
  border-radius: 3px;
  box-shadow: 0 13px 20px rgba(0, 0, 0, 0.3);
}

.tippy-box[data-theme~='menu'] .tippy-content {
  padding: 0px;
  width: 200px;
  max-width: 100%;
}

.tippy-box[data-theme~='menu'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--menu-background-color);
}
.tippy-box[data-theme~='menu'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--menu-background-color);
}
.tippy-box[data-theme~='menu'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--menu-background-color);
}
.tippy-box[data-theme~='menu'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--menu-background-color);
}

/////////////////////// POMODORO ///////////////////////
.tippy-box[data-theme~='pomodoro'] {
  @apply bg-zinc-50 mx-2 text-surface-900;
  border-radius: 10%;
  box-shadow: 0 13px 20px rgba(0, 0, 0, 0.3);
}

.tippy-box[data-theme~='pomodoro'] .tippy-content {
  padding: 0px;
  width: 320px;
}

.tippy-box[data-theme~='pomodoro'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: rgb(24 24 27); //bg-zinc-900
}
.tippy-box[data-theme~='pomodoro'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: rgb(250 250 250);
}
.tippy-box[data-theme~='pomodoro'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: rgb(24 24 27);
}
.tippy-box[data-theme~='pomodoro'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: rgb(24 24 27);
}

/////////////////////// Setting ///////////////////////
.tippy-box[data-theme~='setting'] {
  @apply bg-zinc-50 mx-2 text-surface-900;
  border-radius: 10%;
  box-shadow: 0 13px 20px rgba(0, 0, 0, 0.3);
}

.tippy-box[data-theme~='setting'] .tippy-content {
  padding: 0px;
  width: 200px;
}

.tippy-box[data-theme~='setting'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: rgb(250 250 250); //bg-zinc-50
}
.tippy-box[data-theme~='setting'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: rgb(250 250 250); //bg-zinc-50
}
.tippy-box[data-theme~='setting'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: rgb(250 250 250); //bg-zinc-50
}
.tippy-box[data-theme~='setting'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: rgb(250 250 250); //bg-zinc-50
}