/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

.font-digital{
  font-family: 'Quantico', sans-serif;
}